<div class="row justify-content-md-center">
  <div class="col-6">
    <h1>{{ "Todo List" | translate }}</h1>
    <form (ngSubmit)="onSubmit($event)" ngNativeValidate>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          name="title"
          placeholder="{{ 'What need to be done?' | translate }}"
          [formControl]="title"
          required
        />
        <button
          class="btn btn-outline-secondary"
          type="submit"
          aria-label="Add"
        >
          <i class="bi bi-plus"></i>
        </button>
      </div>
    </form>

    <div class="todo list-group">
      <div
        *ngFor="let todo of todos"
        class="list-group-item list-group-item-action"
      >
        <div class="d-flex w-100 justify-content-between">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              [(ngModel)]="todo.done"
              (change)="onChange(todo)"
            />
          </div>
          <a
            routerLink="/todo/{{ todo.id }}"
            [ngClass]="{ 'text-decoration-line-through': todo.done }"
          >
            {{ todo.title }}
          </a>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="onRemove(todo)"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
