# http://editorconfig.org

root = true

# Use 2 spaces for indentation in most files

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
trim_trailing_whitespace = true

# Use 4 spaces for indentation in Markdown files
[*.{md,markdown,mdown,mkd}]
indent_size = 4