<div class="btn-group" uib-dropdown>
    <div id="switch-locale-dropdown-toggle" class="btn" uib-dropdown-toggle>
        <i class="fa fa-language" aria-hidden="true"></i>
        <span class="caret"></span>
    </div>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="switch-locale-dropdown-toggle">
        <li role="menuitem" ng-repeat="(locale,name) in $ctrl.locales">
            <a ng-click="$ctrl.switch(locale)">{{name}}</a>
        </li>
    </ul>
</div>
