<div *ngIf="hero" class="container">
  <h2 i18n>{{hero.name | uppercase}} Details</h2>
  <div><span i18n>id: </span>{{hero.id}}</div>
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="hero-name" i18n>Hero name: </label>
    <div class="col-sm-10">
      <input class="form-control" id="hero-name" [(ngModel)]="hero.name" placeholder="name" i18n-placeholder>
    </div>
  </div>
  <div class="btn-group" role="group">
    <button class="btn btn-outline-primary" (click)="goBack()" i18n>go back</button>
    <button class="btn btn-outline-primary" (click)="save()" i18n>save</button>
  </div>
</div>
