<header>
  <nav
    class="
      navbar navbar-expand-sm navbar-toggleable-sm navbar-light
      bg-white
      border-bottom
      box-shadow
      mb-3
    "
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']" data-testid="title">{{ title }}</a>
      <button
        class="navbar-toggler"
        type="button"
        data-testid="navbar-toggler"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="!isCollapsed"
        (click)="toggleCollapsed()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        data-testid="navbar-collapse"
        [ngClass]="{ show: !isCollapsed }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']"
              >Counter</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/todo-list']">Todo</a>
          </li>
          <li class="nav-item dropdown">
            <button
              class="btn dropdown-toggle"
              id="i18nDropdown"
              data-testid="i18n-toggler"
              data-bs-toggle="dropdown"
              data-bs-auto-close="true"
              [attr.aria-expanded]="isExpanded"
              (click)="toggleExpanded()"
            >
              <i class="bi bi-globe"></i>
            </button>
            <ul
              class="dropdown-menu"
              [ngClass]="{ show: isExpanded }"
              aria-labelledby="i18nDropdown"
              (clickOutside)="clickOutside($event)"
              [exclude]="'button.dropdown-toggle'"
            >
              <li>
                <button
                  class="dropdown-item"
                  [ngClass]="{ active: isCurrentLanguage('^en') }"
                  (click)="switchLanguage('en')"
                  data-testid="i18n-switch-en"
                >
                  English
                </button>
              </li>
              <li>
                <button
                  class="dropdown-item"
                  [ngClass]="{ active: isCurrentLanguage('^zh') }"
                  (click)="switchLanguage('zh-Hant')"
                  data-testid="i18n-switch-zh"
                >
                  正體中文
                </button>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
