<div *ngIf="todo">
  <button
    type="button"
    class="btn-close float-end"
    aria-label="Close"
    (click)="goBack()"
  ></button>
  <div class="mb-3">
    <label class="form-label" for="title">{{ "Title" | translate }}</label>
    <input
      class="form-control"
      name="title"
      [(ngModel)]="todo.title"
      placeholder="{{ 'Title' | translate }}"
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="description">{{
      "Description" | translate
    }}</label>
    <textarea
      class="form-control"
      name="description"
      [(ngModel)]="todo.description"
      placeholder="{{ 'Description' | translate }}"
    ></textarea>
  </div>
  <div class="mb-3">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        name="done"
        [(ngModel)]="todo.done"
      />
      <label class="form-check-label" for="done">{{
        "Done" | translate
      }}</label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" (click)="save()">
    {{ "Save" | translate }}
  </button>
</div>
